body{
    background-image: url('wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color:skyblue;
    font-family: cursive;
    text-align: center;
}
.table{
    width: 80px;
    margin-top: 20px;
    float: right;
}

#foo > .tabl {
    width: max-content;
    margin-top: 40px;
    margin-left: 970px;
    margin-bottom: 40px;
    margin-right: 10px;
    text-align: center;
}
